In [ ]:
import uuid
from datetime import datetime

import pixeltable as pxt

## Test Pixeltable functions

In [5]:
pxt.list_dirs()

[]

In [4]:
for dir in pxt.list_dirs():
    pxt.drop_dir(dir, if_not_exists="ignore", force=True)

In [6]:
memory_table = pxt.get_table(f"{pxt.list_dirs()[0]}.memory")

In [ ]:
memory_table.collect()

In [24]:
pxt.create_dir("test3", if_exists="replace_force")
pxt.create_table(
    "test3.memory",
    schema={
        "message_id": pxt.String,
        "role": pxt.String,
        "content": pxt.String,
        "timestamp": pxt.Timestamp
    },
    if_exists="ignore",
)

Created directory 'test3'.
Created table 'memory'.

table 'test3.memory'

 Column Name       Type Computed With
  message_id     String
        role     String
     content     String
   timestamp  Timestamp

In [25]:
new_table = pxt.get_table("test3.memory")

new_table.insert([{
    "message_id": str(uuid.uuid4()),
    "role": "user",
    "content": "Hello World",
    "timestamp": datetime.now()
}])

new_table.insert([{
    "message_id": str(uuid.uuid4()),
    "role": "assistant",
    "content": "Hello back",
    "timestamp": datetime.now()
}])

new_table.insert([{
    "message_id": str(uuid.uuid4()),
    "role": "system",
    "content": "World",
    "timestamp": datetime.now()
}])

new_table.insert([{
    "message_id": str(uuid.uuid4()),
    "role": "user",
    "content": "Hello World!!!!",
    "timestamp": datetime.now()
}])

Inserting rows into `memory`: 1 rows [00:00, 344.56 rows/s]

Inserted 1 row with 0 errors.
Inserting rows into `memory`: 1 rows [00:00, 471.64 rows/s]
Inserted 1 row with 0 errors.
Inserting rows into `memory`: 1 rows [00:00, 565.96 rows/s]
Inserted 1 row with 0 errors.
Inserting rows into `memory`: 1 rows [00:00, 410.92 rows/s]
Inserted 1 row with 0 errors.

1 row inserted, 3 values computed.

In [27]:
for record in reversed(new_table.collect()):
    if record["role"] == "user":
        print(record)

{'message_id': '4868ede8-66f5-43c7-91d0-6bf9da71cb1a', 'role': 'user', 'content': 'Hello World!!!!', 'timestamp': datetime.datetime(2025, 9, 28, 11, 39, 30, 674882, tzinfo=zoneinfo.ZoneInfo(key='Asia/Bangkok'))}
{'message_id': '8d514d43-e538-4759-bed9-c9629d80ee4d', 'role': 'user', 'content': 'Hello World', 'timestamp': datetime.datetime(2025, 9, 28, 11, 39, 30, 321502, tzinfo=zoneinfo.ZoneInfo(key='Asia/Bangkok'))}

In [ ]:
hist = pxt.get_table("test3.memory").history()["created_at"][0].to_pydatetime().astimezone()
hist

In [ ]:
new_table.where(new_table.role.isin(["user", "assistant"])).delete()

4 rows deleted.

In [22]:
pxt.drop_dir("test", if_not_exists="ignore", force=True)